    <div class="col-md-12 table-nav">
      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
        <div class="input-group">
          <input type="text" class="form-control"
            [(ngModel)]="searchText"
            (keyup.enter)="doSearch($event)"
            placeholder="Search for...">
          <span class="input-group-btn">
            <button 
              class="btn btn-default" 
              type="button"
              (click)="doSearch($event)">
              Go!
            </button>
          </span>
        </div> <!-- end of search group -->
      </div>
			<a appPcariauth
				[mustHavePermission]="['admin_user_create']"
				[mustBeAll]="true" 
        class="btn btn-default pull-right"
        [routerLink]="['/admin/departments/create']">
        <i class="fa fa-plus"></i> &nbsp; Create Department
      </a>
    </div>
 
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="doSort()">Name <i class="fa fa-4" 
                      aria-hidden="true"
                      [ngClass]="{
                        'fa-chevron-up': sort == 1, 
                        'fa-chevron-down': sort == -1}"></i></th>
          <th>Description</th>
          <th style="text-align: center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{department.name}}</td>
          <td>{{department.description}}</td>
          <td style="text-align: right">
            <button appPcariauth
            [mustHavePermission]="['admin_role_view']"
            [mustBeAll]="true"
            [routerLink]="['/admin/departments/details', department.id]"
            class="btn btn-sm btn-default">
              <i class="fa fa-eye"></i> View
            </button>
            <button appPcariauth
              [mustHavePermission]="['admin_role_update']"
              [mustBeAll]="true"
              [routerLink]="['/admin/departments/update', department.id]"
              class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i> Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <mat-paginator #paginator 
                  [length]="pagelength" 
                  [pageIndex]="0"
                  [pageSize]="10" 
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  class="pull-left"
                  (page)="getDepartments($event)">
    </mat-paginator>