<div id="page-content" class="col-md-offset-3 col-md-9">
    <header class="app-header row">
      <div class="app-header--primary">
        <div class="app-header--context">
          <div class="app-header--breadcrumbs">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
              <li>
                <a [routerLink]="['/biobanking/mtas']">Biobanking</a>
              </li>
              <li>
                  <a [routerLink]="['/biobanking/mtas/list']">
                    <strong>Agreement Form List</strong>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/biobanking/mtas/create']">
                    <strong>Create Agreement Form</strong>
                  </a>
              </li>
  
            </ol>
          </div>
          <h1 class="app-header--heading">
            Create Agreement Form
          </h1>
        </div>
      </div>  
      <div class="app-header--secondary">
      </div>
    </header>
    <br/> <br/>
  
    <div class="row">
        <div class="col-md-12 table-nav">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
            <div class="input-group">
              
            </div>
            </div>
            <a
              (click)="saveMTA()"
              class="btn btn-default pull-right">
              <i class="fa fa-plus"></i> &nbsp; Save Agreement Form
            </a>
        </div>


<!-- Account Info -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
  <div class="x_panel">
    <div class="x_content">
      <br>
      <form data-parsley-validate=""
	    class="form-horizontal form-label-left"
	    #MTASaveFormAccount="ngForm" novalidate>

  <div class="material-form-group"
  class="col-md-offset-3 col-md-6 col-sm-offset-3  col-sm-6 col-xs-12">
    <mat-form-field class="material-form-control col-md-7 col-xs-12">
          <input matInput 
          placeholder="Name"
          type="text" 
          id="input_name" 
          [(ngModel)]="_form.name"
          #input_name="ngModel" name="input_name"
          required="required">
    </mat-form-field>
  </div> <!-- material-form-group -->

  <div class="material-form-group"
  class="col-md-offset-3 col-md-6 col-sm-offset-3  col-sm-6 col-xs-12">
    <mat-form-field class="material-form-control col-md-7 col-xs-12">
          <input matInput 
          placeholder="Type"
          type="text"
          id="input_type" 
          [(ngModel)]="_form.type"
          #input_type="ngModel" name="input_type"
          required="required">
    </mat-form-field>
  </div>

  <div class="material-form-group"
  class="col-md-offset-3 col-md-6 col-sm-offset-3  col-sm-6 col-xs-12">
    <mat-form-field class="material-form-control col-md-7 col-xs-12">
          <input matInput 
          placeholder="Description"
          type="text"
          id="input_description" 
          [(ngModel)]="_form.description"
          #input_description="ngModel" name="input_description"
          required="required">
    </mat-form-field>
  </div>

  <div class="material-form-group"
  class="col-md-offset-3 col-md-6 col-sm-offset-3  col-sm-6 col-xs-12">
  <mat-form-field class="material-form-control" >
    <div class="material-file-input-textbox" >
      <input placeholder="Attachment" 
          matInput disabled 
          value="{{_form.dir_path}}" >
    </div>
    <div class="col-sm-1 material-file-input-icon pull-right" >
      <button mat-icon-button
              (click)="fileInput.click()" > 
            <i class="fa fa-paperclip"></i>
      </button>
    </div>
  <span hidden>
    <input type="file" 
          (change)="onChangeFile()"
          #fileInput>
  </span>
</mat-form-field>
</div> <!-- material-form-group -->

      </form>
    </div>
  </div>
</div> <!-- Account Information -->



    </div>
  </div>
  <p>
</p>
