<div class="col-md-offset-4 col-md-6 col-sm-6 col-xs-12 well form-login"
  [hidden]="!_show">
  <div class="row">
    <div class="col-sm-12" style="text-align: center; padding: 0;">
      <h2 class="main-panel__heading">
        Forgot Password
        <br/>
        <small class="main-panel__subheading">
          Enter your email below.
        </small>
      </h2>
    </div>
  </div>
  <div class="row">
    <form (ngSubmit)="submit($event)" #forgotForm="ngForm">
      <div class="form-group">
        <div class="text-success" *ngIf="isPasswordSent">
            A temporary password has been sent to your email.
        </div>
      </div>
      <div class="form-group" 
        [ngClass]="{'has-error': !(inputUsername.valid || inputUsername.pristine)}">
        <label for="username">Username</label>
        <input type="email" email placeholder="yourname@gmail.com" 
                class="form-control" id="forgot_username" 
                name="forgot_username" [(ngModel)]="model.username"
                #inputUsername="ngModel" autofocus="" #spy
                pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                required>
        <div [hidden]="inputUsername.valid || inputUsername.pristine"
            class="text-danger">
          <ul style="padding: 0; padding-left: 18px;">
            <li>Username is required</li>
            <li>Username must be a proper email</li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-success" 
              (click)="submit($event); forgotForm.reset(); isPasswordSent=true"
              [disabled]="!forgotForm.form.valid">Reset Password</button>
    </form>
  </div>
</div>