<div id="page-content" class="col-md-offset-3 col-md-9">
  <header class="app-header row">
    <div class="app-header--primary">
      <div class="app-header--context">
				<div class="app-header--breadcrumbs">
					<ol class="aui-nav aui-nav-breadcrumbs" resolved="">
						<li>
							<a [routerLink]="['/biobanking/spectypes']">Biobanking</a>
						</li>
						<li>
								<a [routerLink]="['/biobanking/spectypes/list']">
									<strong>Specimen Types List</strong>
								</a>
						</li>

					</ol>
				</div>
				<h1 class="app-header--heading">
					Specimen Types
				</h1>
      </div>
    </div>  
    <div class="app-header--secondary">
    </div>
	</header>
	<br/> <br/>

  <div class="row">
      <div class="col-md-12 table-nav">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
          <div class="input-group">
            <input type="text" 
              class="form-control" 
              [(ngModel)]="searchText"
			        (keyup.enter)="filter = searchText"
              placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" 
                (click)="filter = searchText"
                type="button">
                Go!
              </button>
            </span>
          </div>
          </div>
          <a
            [routerLink]="['/biobanking/spectypes/create']" class="btn btn-default pull-right">
            <i class="fa fa-plus"></i> &nbsp; Create Specimen Type
          </a>
      </div>

      <div class="col-md-12">
          <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let spectype of spectypes | spectypefilter : filter; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ spectype.name }}</td>
              <td style="text-align: right">
                  <button 
                  class="btn btn-sm btn-warning"
                  [routerLink]="['/biobanking/spectypes/update', spectype.id]">
                  <i class="fa fa-edit"></i> 
                  Update
                </button>
              </td>
            </tr>
          </tbody>
          </table>
      </div>
  </div>
</div>
