
<div class="col-md-12 table-nav">
  <div class="col-sm-3 reset-wrapper">
    <button class="btn btn-default pull-left"
      (click)="onResetForm()">
      <i class="fa fa-refresh"></i> &nbsp; Reset
    </button>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="alert alert-danger" *ngIf="has_errors">
      <strong>
        <i class="fa fa-warning"></i> Unable to process your request.
      </strong><br/>
      <em> {{ errors }} </em>
    </div>
  </div>

  <div class="col-sm-3 save-wrapper">
    <button class="btn btn-success pull-right"
      [disabled]="!userSaveFormAccount.form.valid ||
      is_processing || !(_form.table_section.length > 0)"
      (click)="onSaveForm()"
      >
      <i class="fa fa-save"></i> &nbsp; Save FORM
    </button>
  </div>
</div>


<div class="form-editor-body">
<form #userSaveFormAccount="ngForm" novalidate>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10" > 
        <div id="formcreatecontainer">
          <input type="hidden" class="form-control"
                  placeholder="id">
          <div class="material-form-group">
            <mat-form-field class="material-form-control">
                  <input matInput 
                        id="formname"
                        placeholder="Form Name"
                        [(ngModel)]="_form.name"
                        #input_name="ngModel" name="input_name"
                        required="required">
                        <mat-error *ngIf="(input_name.errors && (input_name.dirty || input_name.touched))">
                            Form Name is required 
                        </mat-error>
            </mat-form-field>
            <mat-form-field class="material-form-control" >
              <mat-select placeholder="Registry Type"
                          [(ngModel)]="_form.type"
                          #input_type="ngModel" 
                          name="input_type"
                          disabled
                          required="required" >
                <mat-option *ngFor="let type of registryTypes"
                            [id]="type.name" 
                            [value]="type.name">{{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> <!-- material-form-group -->

          <div class="material-form-group">
            <mat-form-field class="material-form-control">
                  <input matInput 
                        id="coinvestigator"
                        placeholder="Co-investigator"
                        [(ngModel)]="_form.coinvestigator"
                        #coinvestigator="ngModel" 
                        name="coinvestigator">
            </mat-form-field>
            <mat-form-field class="material-form-control" >
                <mat-select placeholder="Principal Investigator(s)"
                            [(ngModel)]="_form.principalinvestigator" 
                            #principalinvestigator="ngModel"
                            [compareWith]="comparePrincipalSelectValue" 
                            name="principalinvestigator"
                            multiple
                            required="required" >
                  <mat-option *ngFor="let principal of principalinvestigators"
                              [value]="principal">{{principal.name}}
                  </mat-option>
                </mat-select>
                <mat-error>
                    Please choose at least one! 
                </mat-error>
              </mat-form-field>
          </div>

          <div class="material-form-group">
            <mat-form-field class="material-form-control" >
              <mat-select placeholder="Organization(s)"
                          [(ngModel)]="_form.organization" 
                          #input_org="ngModel" 
                          name="input_org"
                          multiple
                          required="required" >
                <mat-option *ngFor="let org of organizations"
                            [id]="org.key" 
                            [value]="org.name">{{org.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="material-form-control" >
              <mat-select placeholder="Department(s)"
                          [(ngModel)]="_form.department" 
                          #input_department="ngModel" 
                          name="input_department"
                          multiple
                          required="required" >
                <mat-option *ngFor="let dept of departments"
                            [id]="dept.key" 
                            [value]="dept.name">{{dept.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> <!-- material-form-group -->


          <div class="material-form-group">
            <mat-form-field class="material-form-control" >
              <input placeholder="Consent Form Validity Date"
                      [(ngModel)]="_form.validity_date"
                      #input_validity_date="ngModel" name="input_validity_date"
                      required="required" 
                      matInput [matDatepicker]="i" >
              <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
              <mat-datepicker #i></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="material-form-control pull-left" >
                <div class="col-sm-10 material-file-input-textbox" >
                  <input placeholder="Consent Form Attachment" 
                      matInput disabled 
                      value="{{_form.dir_path}}" >
                </div>
                <div class="col-sm-1 material-file-input-icon pull-right" >
                  <button mat-icon-button
                          (click)="fileInput.click()" > 
                        <mat-icon>attachment</mat-icon>&nbsp;
                  </button>
                </div>
              <span hidden>
                <input type="file" 
                      (change)="onChangeFile()"
                      #fileInput>
              </span>
            </mat-form-field>
          </div>
        
          <div class="material-form-group" [hidden]="true">
            <mat-form-field class="material-form-control pull-left" >
              <mat-select [(ngModel)]="_form.status"
                          #input_status="ngModel" name="input_status"
                          placeholder="Approval Status" >
                <mat-option *ngFor="let stat of status"
                            [id]="stat.key" 
                            [value]="stat.name">{{stat.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> <!-- material-form-group -->

        </div> <!-- #formcreatecontainer -->
    </div> <!-- col-sm-10 -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <!-- form section bla bla here -->
      <div class="" >
        <div class="">

          <!-- section-->
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <mat-card>
              <mat-card-header >
                <mat-card-title>
                </mat-card-title>
              </mat-card-header>
              <!-- rows-->
              <div>
                <div *ngFor="let specimen of _form.table_section; let i = index;">
                  <mat-form-field>
                    <mat-select placeholder="Specimen" 
                      id="e2e-question-content-spec-{{i}}"
                      [(ngModel)]="specimen.specimen"
                      name="specname-{{i}}"
                      required>
                      <!-- (selectionChange)="onChangeSpec($event)" -->
                      <mat-option *ngFor="let spec of specimens" 
                        [value]="spec.name">
                          {{ spec.name }} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
          
                  <mat-form-field>
                    <mat-select placeholder="Type" 
                      id="e2e-question-content-type-{{i}}"
                      [(ngModel)]="specimen.type"
                      name="spectype-{{i}}"
                      required>
                      <!-- (selectionChange)="onChangeSpecType($event)" -->
                        <mat-option *ngFor="let specimen_type of specimen_types" 
                          [value]="specimen_type.name">
                          {{ specimen_type.name }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                
                  <button mat-button style="width: 5%; padding: 2px;"
                    (click)="removeTableQuestion(i)">
                    Remove
                  </button>  
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <mat-card-actions style="text-align: right; margin-right: 0;">
                      <button mat-raised-button color="primary"
                              class="e2e-add-question"
                              (click)="addTableQuestion()">
                          Add Row
                      </button>
                    </mat-card-actions>
                  </div>
                </div>
              </div>
              <!-- end of rows -->
            </mat-card>
            <br/>
            <br/>
          </div>
          <!-- end of section -->
        </div>
      </div>          
      <!-- END of form section bla bla here -->
    </div>
  </div> <!-- row-->

</form> <!-- templateForm -->
</div> <!-- form-editor-body -->
