
<div class="col-md-12 table-nav"> 
  <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left top_search">
    <div class="input-group">
      <input type="text"
        class="form-control"
        [(ngModel)]="searchText"
			  (keyup.enter)="doSearch($event)"
        placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default"
        (click)="doSearch($event)"
          type="button">
          Go!
        </button>
      </span> 
    </div>
  </div>
  <div class="pull-right">
    <a class="btn btn-default"
      [routerLink]="[create_url]"
      appPcariauth
      [mustHavePermission]="['biobank_form_create', 'medical_form_create']"
      [mustBeAll]="false" >
      <i class="fa fa-plus"></i> &nbsp; Create Form
    </a>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Form Name</th>
        <th style="text-align: left;">Department</th>
        <th style="text-align: center;" [hidden]="dontDisplayValidity">Validity</th>
        <th (click)="doSort()" style="text-align: center;">
          Approval Status <i class="fa fa-4"
          [ngClass]="{
          'fa-chevron-up': sort == 1, 
          'fa-chevron-down': sort == -1}"
          aria-hidden="true"></i>
        </th>
        <th 
          appPcariauth
          [mustHavePermission]="['biobank_form_approve', 'medical_form_approve' ]"
          [mustBeAll]="false" 
        style="text-align: center;"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let form of _forms; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td class="e2e-newest-form"> {{ form.name }}</td>
        <td style="text-align: left;">
          <p *ngFor="let department of form.department">{{department}}</p>
        </td>
        <td  style="text-align: center;" [hidden]="dontDisplayValidity">
          <span *ngIf='form.isValid'
            class="badge badge--success" #valid> Valid 
          </span>
          <span *ngIf='!form.isValid'
            class="badge badge--invalid" #invalid> Expired 
          </span>
        </td>
        <td style="text-align: center;" >
          <span *ngIf="form.status ==='Pending'" class="badge badge--warning" #pending> {{form.status }}</span>
          <span *ngIf="form.status ==='Approved'" class="badge badge--success" #active> {{form.status }}</span>
          <span *ngIf="form.status ==='Rejected'" class="badge badge--danger" #rejected> {{form.status }}</span>
        </td>
        <td style="text-align: right;" id="e2e-newest-form-btn-{{i}}">
          <button 
          appPcariauth
          [mustHavePermission]="['biobank_form_approve', 'medical_form_approve']"
          [mustBeAll]="false" 
          [disabled]="form.status !=='Pending'"
          (click)="approveForm(form, true)"
          class="btn btn-sm btn-success" >
            <i class="fa fa-check-circle e2e-newest-form-approve-btn"></i> 
          </button>
          <button 
          appPcariauth
          [mustHavePermission]="['biobank_form_approve', 'medical_form_approve']"
          [mustBeAll]="false" 
          [disabled]="form.status !=='Pending'"
            (click)="approveForm(form, false)"
            class="btn btn-sm btn-default" >
            <i class="fa fa-times-circle"></i>
          </button>
          <button 
          appPcariauth
          [mustHavePermission]="['biobank_form_update', 'medical_form_update']"
          [mustBeAll]="false" 
              (click)="setCurrentForm(form)"
              class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
          </button>
          <button 
          appPcariauth
          [mustHavePermission]="['biobank_form_delete', 'medical_form_delete']"
          [mustBeAll]="false" 
              (click)="callDeleteForm(form)"
              class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i> 
          </button>
        </td>
        <!-- <td style="text-align: center">
          <button 
          class="btn btn-sm btn-success"
          [routerLink]="['/biobanking/forms/update',form.id]">
          <i class="fa fa-plus"></i> &nbsp; Update</button>
        </td> -->
      </tr>
    </tbody>
  </table>

  <!-- <div style="z-index:5; position : fixed;display : flex; 
  align-self : flex-end;bottom : 10%; margin-bottom : 68px; right:5%;">
    <button 
    [routerLink]="[create_url]"
    appPcariauth
    [mustHavePermission]="['biobank_form_create', 'medical_form_create']"
    [mustBeAll]="false" 
      mat-fab color="primary">
      <i class="fa fa-plus fa-3" aria-hidden="true"></i>
    </button>
  </div> -->
</div>


<app-delete-modal
    [show]="for_delete"
    (confirmedEvent)="onConfirmDeleteForm($event)"> 
</app-delete-modal>

<div class="col-md-12 table-nav">
    <mat-paginator #paginator 
      [length]="pagelength" 
      [pageIndex]="0"
      [pageSize]="10" 
      [pageSizeOptions]="[5, 10, 25, 100]"
      class="pull-left"
      (page)="getForms($event)">
    </mat-paginator>
</div>