<div id="page-content"
     class="col-md-offset-3 col-md-9">

     <header class="app-header row">
      <div class="app-header--primary">
        <div class="app-header--context">
          <div class="app-header--breadcrumbs">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
              <li>
                <a [routerLink]="['/biobanking/cases']">Biobanking Registry</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/list']">Biobank Cases List</a>
              </li>
              <li>
                <a [routerLink]="['/biobanking/cases/create']">
									<strong>Create New</strong>
                </a>
              </li>
            </ol>
          </div>
          <h1 class="app-header--heading">
            Cases 
          </h1>
        </div>
      </div> <!-- app-header--primary -->  
      <div class="app-header--secondary">
      </div>
    </header>

    <div class="row" id="page-body">
<!-- START OF REFACTOR -->
      <div class="col-md-12 table-nav" >
          <div class="col-sm-3 reset-wrapper">
            <button class="btn btn-default pull-left"
              (click)="resetCase(case)">
              <i class="fa fa-refresh"></i> &nbsp; Reset
            </button>
          </div>
          
          <div class="col-sm-6">
            <div class="alert alert-danger" *ngIf="false">
              <strong> <i class="fa fa-warning"></i> XUnable to process your request. </strong>
              <em>Please see details below: </em>
            </div>
          </div>
          
        <div class="col-sm-3 save-wrapper">
          <button class="btn btn-success pull-right"
            (click)="onSaveCase()">
            <i class="fa fa-save e2e-save-case"></i> &nbsp; Save Case
          </button>
        </div>
      </div>


      <!-- Case -->
      <div class="col-md-12 col-sm-12 col-xs-12"> 
          <div class="x_panel">
            <div class="x_content">
            <br>
              <form data-parsley-validate=""
              class="form-horizontal form-label-left"
              #caseCreateForm="ngForm" novalidate>
                <div class="row">
                </div>
                <div class="material-form-group">
                    <!-- Case Number-->
                    <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                        <input matInput 
                              id="casenumber"
                              name="input_casenumber"
                              [(ngModel)]="case.case_nbr"
                              [disabled]="method == 'VIEW'"
                              [matAutocomplete]="auto"
                              placeholder="Case Number">
                    </mat-form-field>	
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
      
                    <br/><br/>
                </div> <br/><br/>
              </form>
            </div>

            
          </div> <!-- x panel -->     
        </div> <!--Case --> 


        <!-- SECTION PORTION -->
        <div class="col-md-12 col-sm-12 col-xs-12">

<!-- ULTIMATE -->

  <!-- Selected Forms  -->
  <mat-accordion>  
    <mat-expansion-panel [expanded]="true"
      *ngFor="let form of case.specform; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <em>{{ form.form_name }} </em>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
          <div *ngFor="let specimen of form.specimen; let i = index" 
          style="width: 100%;">
          <div>
            <!-- specimen -->
            <mat-form-field style="width: 20%">
                <input matInput placeholder="Qty" [(ngModel)]="specimen.qty"
                  (change)="historyChanged(specimen)">
              </mat-form-field>

              <mat-form-field style="width: 18%">
                  <input matInput placeholder="Specimen" [(ngModel)]="specimen.spec"
                    readonly disabled>
              </mat-form-field>

              <mat-form-field style="width: 20%">
                  <input matInput placeholder="Type" [(ngModel)]="specimen.spec_type"
                    readonly disabled>
              </mat-form-field>

              <mat-form-field style="width: 20%">
                  <input matInput placeholder="Characteristic" [(ngModel)]="specimen.characteristic">
              </mat-form-field>

              <mat-form-field style="width: 20%">
                  <input matInput placeholder="Qty Available" [(ngModel)]="specimen.qty_avail"
                  readonly disabled>
              </mat-form-field>
          </div>

          <div style="margin-top: -15px; margin-bottom: 25px">
              <mat-accordion>  
                  <mat-expansion-panel [expanded]="i == 0">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>MTA : </strong> &nbsp; <em>{{ specimen.spec }} - {{ specimen.spec_type }} </em>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div style="text-align: center"  *ngFor="let history of specimen.history; let j = index">
                          <mat-form-field>
                              <input matInput placeholder="Qty" 
                                (change)="historyChanged(specimen)"
                                [(ngModel)]="history.qty" 
                                name="qty-{{j}}" >
                            </mat-form-field>
              
                            <mat-form-field>
                                <mat-select placeholder="Method"  [(ngModel)]="history.type" name="type-{{j}}" >
                                    <mat-option *ngFor="let method of methods" [value]="method">
                                      {{ method }}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
              
                            <mat-form-field>
                                <input matInput placeholder="Reference" [(ngModel)]="history.reference" name="reference-{{j}}">
                            </mat-form-field>
                      </div>
                  </mat-expansion-panel>
              </mat-accordion>  
          </div>
          
        </div>
        <!-- end of specimen -->
      </div>
  
      <p *ngIf="!is_ok"> Please wait...</p>
  
    </mat-expansion-panel>
  </mat-accordion>
  

<!-- end of ULTIMATE -->
          
<div class="col-md-12 col-sm-12 col-xs-12"          
    style="margin-top: 15px;" 
    [hidden]="!show_selected_forms"> 
    <div class="col-md-offset-4 col-md-6"> 
        <button class="btn btn-default"
          style="width: 48%;"
          (click)="show_selected_forms = false">
          <i class="fa fa-plus e2e-add-form"></i> Add Form
        </button>
    </div>
</div>
          <app-pcaricase-form-add
          (onSaveFormAddTrigger)="onAddSelectedForm($event)"
          (onCancelFormAddTrigger)="onCancelAddForm()"
          [forms]="forms"
          [show]="!show_selected_forms">
          </app-pcaricase-form-add>
        </div> <!-- x-panel -->


        <!-- end of SECTION PORTION -->
<!-- END OF REFACTOR -->
      <!--
      <app-pcaricase-manage 
        [case]="case" 
        [forms]="forms"
        [update_url]="'/biobanking/cases/update/'"
        [view_url]="'/biobanking/cases/view/'"
        [method]="'CREATE'"
        [case_searchable]="true"
        [medcases]="medcases"
        (onSubmitCaseTrigger)="onSubmitCase($event)">
      </app-pcaricase-manage>
      //-->
    </div> <!-- page-body -->
    
</div>  <!-- page-content -->