<!-- START OF REFACTOR -->
<div class="col-md-12 table-nav" >
    <div class="col-sm-3 reset-wrapper">
      <button class="btn btn-default pull-left"
        (click)="resetCase(case)">
        <i class="fa fa-refresh"></i> &nbsp; Reset
      </button>
    </div>
    
    <div class="col-sm-6">
      <div class="alert alert-danger" *ngIf="false">
        <strong> <i class="fa fa-warning"></i> XUnable to process your request. </strong>
        <em>Please see details below: </em>
      </div>
    </div>
    
  <div class="col-sm-3 save-wrapper">
    <button class="btn btn-success pull-right"
      (click)="onSaveCase()">
      <i class="fa fa-save e2e-save-case"></i> &nbsp; Save Case
    </button>
  </div>
</div>


<!-- Case -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
    <div class="x_panel">
      <div class="x_content">
      <br>
        <form data-parsley-validate=""
        class="form-horizontal form-label-left"
        #caseCreateForm="ngForm" novalidate>
          <div class="row">
          </div>
          <div class="material-form-group">
              <!-- Case Number-->
              <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                  <input matInput 
                        id="casenumber"
                        name="input_casenumber"
                        [(ngModel)]="_case.case_nbr"
                        [disabled]="method == 'VIEW'"
                        [matAutocomplete]="auto"
                        placeholder="Case Number">
              </mat-form-field>	
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>

              <br/><br/>
          </div> <br/><br/>
        </form>
      </div>

      
    </div> <!-- x panel -->     
  </div> <!--Case --> 


  <!-- SECTION PORTION -->
  <div class="col-md-12 col-sm-12 col-xs-12">

<!-- ULTIMATE -->

<!-- Selected Forms  -->
<mat-accordion>  
<mat-expansion-panel [expanded]="true"
*ngFor="let form of _case.specforms; let h = index">
<mat-expansion-panel-header>
  <mat-panel-title>
      <em>{{ form.form_name }} </em>
  </mat-panel-title>
</mat-expansion-panel-header>
<div>
    <div *ngFor="let specimen of form.specimen; let i = index" 
    style="width: 100%;">
    <div>
      <!-- specimen -->
      <mat-form-field style="width: 20%">
          <input matInput placeholder="Qty" 
            [(ngModel)]="specimen.qty"
            name="specimenqty-{{h}}-{{i}}"
            (change)="historyChanged(specimen)">
        </mat-form-field>

        <mat-form-field style="width: 18%">
            <input matInput placeholder="Specimen" [(ngModel)]="specimen.spec"
              name="specimenspec-{{h}}-{{i}}"
              readonly disabled>
        </mat-form-field>

        <mat-form-field style="width: 20%">
            <input matInput placeholder="Type" [(ngModel)]="specimen.spec_type"
              name="specimentype-{{h}}-{{i}}"
              readonly disabled>
        </mat-form-field>

        <mat-form-field style="width: 20%">
            <input matInput placeholder="Notes" [(ngModel)]="specimen.characteristic"
            name="specimennotes-{{h}}-{{i}}">
        </mat-form-field>

        <mat-form-field style="width: 20%">
            <input matInput placeholder="Qty Available" [(ngModel)]="specimen.qty_avail"
            name="specimenqtyavail-{{h}}-{{i}}"
            readonly disabled>
        </mat-form-field>
    </div>

    <div style="margin-top: -15px; margin-bottom: 25px">
        <mat-accordion>  
            <mat-expansion-panel [expanded]="i == 0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <strong>MTA : </strong> &nbsp; <em>{{ specimen.spec }} - {{ specimen.spec_type }} </em>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="text-align: center"  
                    *ngFor="let history of specimen.history; let j = index">
                    <mat-form-field>
                      <input matInput placeholder="Qty" 
                        (change)="historyChanged(specimen)"
                        [(ngModel)]="history.qty" 
                        name="qty-{{i}}-{{j}}" >
                    </mat-form-field>
      
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" 
                        [value]="history.date_done"
                        placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                      
                      <mat-form-field>
                          <mat-select placeholder="Method"  [(ngModel)]="history.type" name="type-{{j}}" >
                              <mat-option *ngFor="let method of methods" [value]="method">
                                {{ method }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
        

                      <mat-form-field *ngIf="history.type == 'MTA'">
                          <mat-select placeholder="Method"  [(ngModel)]="history.reference" name="reference-mta-{{j}}">
                              <mat-option *ngFor="let mta of mtas" [value]="mta.name">
                                {{ mta.name }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="history.type == 'Transfer To'">
                          <mat-select placeholder="Case Number"  [(ngModel)]="history.reference" name="reference-mta-{{j}}">
                              <mat-option *ngFor="let biobankcase of biobankcases" 
                                [value]="biobankcase">
                                {{ biobankcase }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>


                      <mat-form-field *ngIf="history.type == 'Discard'">
                          <input matInput placeholder="Reference" [(ngModel)]="history.reference" name="reference-disposal-{{j}}">
                      </mat-form-field>

                      <button mat-button style="width: 5%; padding: 2px;"
                        (click)="onRemoveMTARow(h,i,j)">
                        Remove
                      </button> 
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <mat-card-actions style="float: right; margin-right: 0;">
                        <button mat-raised-button color="primary"
                                class="e2e-add-question"
                                (click)="onAddMTARow(h,i,j)">
                            Add Row
                        </button>
                      </mat-card-actions>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>  
    </div>
    
  </div>
  <!-- end of specimen -->
</div>

<p *ngIf="!is_ok"> Please wait...</p>

</mat-expansion-panel>
</mat-accordion>


<!-- end of ULTIMATE -->
    
<div class="col-md-12 col-sm-12 col-xs-12"          
style="margin-top: 15px;" 
[hidden]="!show_selected_forms"> 
<div class="col-md-offset-4 col-md-6"> 
  <button class="btn btn-default"
    style="width: 48%;"
    (click)="show_selected_forms = false">
    <i class="fa fa-plus e2e-add-form"></i> Add Form
  </button>
</div>
</div>
  <app-pcaricase-form-add
  (onSaveFormAddTrigger)="onAddSelectedForm($event)"
  (onCancelFormAddTrigger)="onCancelAddForm()"
  [forms]="forms"
  [show]="!show_selected_forms">
  </app-pcaricase-form-add>
</div> <!-- x-panel -->


  <!-- end of SECTION PORTION -->
<!-- END OF REFACTOR -->