<!-- START OF REFACTOR -->
<div class="col-md-12 table-nav" >
    <div class="col-sm-3 reset-wrapper">
      <div [hidden]="true">
          <button class="btn btn-default pull-left">
            <i class="fa fa-refresh"></i> &nbsp; Reset
          </button>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="alert alert-danger" *ngIf="false">
        <strong> <i class="fa fa-warning"></i> Unable to process your request. </strong>
        <em>Please see details below: </em>
      </div>
    </div>
  <div class="col-sm-3 save-wrapper">
    <button 
      [disabled]="readonly || !qtydatevalid
       || ((_case && _case.specforms && _case.specforms.length == 0) || !_case) ||
      _case.id == null"
      class="btn btn-success pull-right"
      (click)="onSaveCase()">
      <i class="fa fa-save e2e-save-case"></i> &nbsp; Save Case 
    </button>
  </div>
</div>


<!-- Case -->
<div class="col-md-12 col-sm-12 col-xs-12"> 
    <div class="x_panel">
      <div class="x_content">
        <p *ngIf="notUnique" style="color:red;font-weight:bold;">Case number already exists.</p>
      <br>
        <form data-parsley-validate=""
        class="form-horizontal form-label-left"
        #caseCreateForm="ngForm" novalidate>
          <div class="row">
          </div>
          <div class="material-form-group">
              <!-- Case Number-->
              <mat-form-field class="material-form-control col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                  <input matInput 
                        id="casenumber"
                        name="input_casenumber"
                        [(ngModel)]="_case"
                        [formControl]="myControl"
                        [matAutocomplete]="auto"
                        placeholder="Case Number"
                        required>
                  <mat-hint>You must select only from the available cases</mat-hint>
              </mat-form-field>	
              <mat-autocomplete #auto="matAutocomplete" 
              [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" 
                [value]="option">
                  {{ option.case_nbr }}
                </mat-option>
              </mat-autocomplete>

              <br/><br/>
          </div> <br/><br/>

  <!-- SECTION PORTION -->
  <div class="col-md-12 col-sm-12 col-xs-12">

    <!-- ULTIMATE -->
    
    <!-- Selected Forms  -->
    <mat-accordion>  
    <mat-expansion-panel [expanded]="true"
    *ngFor="let form of _case.specforms; let h = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <em>{{ form.form_name }} </em>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <div>
        <a href="#" 
          *ngIf="form.dir_path"
          (click)="onClickAttachment($event, form.dir_path)">
          <i class="fa fa-1x fa-paperclip"> </i> {{form.dir_path}}
        </a><br><br>
        <div *ngFor="let specimen of form.specimen; let i = index" 
        style="width: 100%;">
        <div ngModelGroup="qtydate" #qtydate="ngModelGroup" appQuantityDateValidation>
          <!-- specimen -->
          <mat-form-field style="width: 20%">
              <input matInput placeholder="Quantity Collected" 
                [(ngModel)]="specimen.qty"
                name="qtycollected{{f}}{{i}}"
                (change)="historyChanged(specimen, specimen.collectedDate != null && specimen.qty > 0)"
                #qtycollected="ngModel"
                type="number"
                required>
                <!-- <div *ngIf="qtycollected.errors?.minimumRequired" 
                style="color:red; position: absolute;">
                    Can't be zero when date collected isn't empty
                </div> -->
                <mat-hint *ngIf="specimen.collectedDate != null && specimen.qty <= 0" style="color:red;">
                  Can't be below 1
                </mat-hint>
                <mat-error>
                  Field is required
                </mat-error>
            </mat-form-field>


            <mat-form-field style="width: 18%">
                <input matInput placeholder="Specimen" [(ngModel)]="specimen.spec"
                  name="specimenspec--{{specimen._id}}{{specimen._id}}-{{h}}-{{i}}"
                  readonly disabled>
            </mat-form-field>
    
            <mat-form-field style="width: 20%">
                <input matInput placeholder="Type" [(ngModel)]="specimen.spec_type"
                  name="specimentype-{{specimen._id}}-{{h}}-{{i}}"
                  readonly disabled>
            </mat-form-field>
    
            <mat-form-field style="width: 20%">
                <input matInput placeholder="Notes" [(ngModel)]="specimen.characteristic"
                name="specimennotes-{{specimen._id}}-{{h}}-{{i}}">
            </mat-form-field>
    
            <mat-form-field style="width:20%">
              <input matInput placeholder="Collected Date" 
              [(ngModel)]="specimen.collectedDate" 
              [matDatepicker]="myDatepicker"
              (dateChange)="datecollectedChange(specimen.collectedDate != null && specimen.qty > 0)"
              name="datecollected{{h}}{{i}}"
              #datecollected="ngModel"
              [required]="specimen.qty > 0">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field style="width: 20%">
                <input matInput placeholder="Quantity Available" [(ngModel)]="specimen.qty_avail"
                name="specimenqtyavail-{{specimen._id}}-{{h}}-{{i}}" style="-webkit-text-fill-color:#880000"
                readonly disabled>
            </mat-form-field>
        </div>
    
        <div style="margin-top: -15px; margin-bottom: 25px">
            <mat-accordion>  
                <mat-expansion-panel [expanded]="i == 0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <strong>MTA : </strong> &nbsp; <em>{{ specimen.spec }} - {{ specimen.spec_type }} </em>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="text-align: center"  
                        *ngFor="let history of specimen.history; let j = index">
                        <mat-form-field>
                          <input matInput placeholder="Quantity Transferred" 
                            (change)="historyChanged(specimen)"
                            [(ngModel)]="history.qty" 
                            name="qty-{{specimen._id}}-{{i}}-{{j}}">
                        </mat-form-field>
                        <mat-form-field *ngIf="history.qty < 1">
                          <input matInput placeholder="Transaction date" disabled>
                        </mat-form-field>
                        <mat-form-field *ngIf="history.qty > 0">
                            <input matInput 
                            [matDatepicker]="picker" 
                            [(ngModel)]="history.date_done"
                            name="transaction-date-{{specimen._id}}-{{i}}-{{j}}"
                            placeholder="Transaction date"
                            required>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                          <mat-form-field>
                              <mat-select placeholder="Transfer to" 
                              [(ngModel)]="history.type" name="type-{{specimen._id}}-{{j}}"
                              [required]="history.qty > 0">
                                  <mat-option *ngFor="let method of methods" [value]="method">
                                    {{ method }}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
            
                            <mat-form-field *ngIf="history.type == 'New Consent Form'">
                                <mat-select placeholder="Method" 
                                [(ngModel)]="history.reference" 
                                name="reference-mta-consent-{{specimen._id}}-{{j}}">
                                    <mat-option *ngFor="let form of forms" [value]="form.name">
                                      {{ form.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                          <span [hidden]="history.type">
                            <mat-form-field>
                                <input matInput
                                  disabled>
                            </mat-form-field>
                          </span>
    
                            <mat-form-field *ngIf="history.type == 'New Institution'">
                                <mat-select placeholder="Institution"  
                                [(ngModel)]="history.reference" 
                                [(value)]="history.reference"
                                name="reference-mta-{{specimen._id}}-{{j}}">
                                    <mat-option *ngFor="let mta of mtas" 
                                      [value]="mta._id">
                                      {{ mta.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="history.type == 'Discard'">
                                <input matInput placeholder="Note" 
                                [(ngModel)]="history.reference" 
                                name="reference-disposal-{{specimen._id}}-{{j}}">
                            </mat-form-field>
    
                          <!-- <mat-button style="width: 5%; padding: 2px;"
                            (click)="onRemoveMTARow(h,i,j)">
                            <mat-icon class="material-option-clear-btn">clear</mat-icon>
                          </button>  -->
                          <span matTooltip=""
                            style="cursor: pointer"
                            [hidden]="_case.specforms[h].specimen[i].history.length <= 1"
                            (click)="onRemoveMTARow(h,i,j)">
                            <mat-icon 
                                appPcariauth
                                [mustHavePermission]="[ 'biobank_case_create', 
                                'biobank_case_update', 
                                'medical_case_create', 
                                'medical_case_update' ]" 
                                [mustBeAll]="false"
                                class="material-option-clear-btn">clear</mat-icon>
                          </span> 
                    </div>
    
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <mat-card-actions style="float: right; margin-right: 0;">
                            <button 
                                    appPcariauth
                                    [mustHavePermission]="[ 'biobank_case_create', 
                                    'biobank_case_update', 
                                    'medical_case_create', 
                                    'medical_case_update' ]" 
                                    [mustBeAll]="false"
                                    mat-raised-button color="primary"
                                    class="e2e-add-question"
                                    (click)="onAddMTARow(h,i,j)">
                                Add Row
                            </button>
                          </mat-card-actions>
                        </div>
                    </div>
    
                </mat-expansion-panel>
            </mat-accordion>  
        </div>
        
      </div>
      <!-- end of specimen -->
    </div>
    
    <!-- <p *ngIf="!is_ok"> Please wait...</p> -->
    
    </mat-expansion-panel>
    </mat-accordion>
    
    
    <!-- end of ULTIMATE -->
    <div class="col-md-12 col-sm-12 col-xs-12"          
    style="margin-top: 15px;" 
    [hidden]="!show_selected_forms && _case.id != null"> 
    <!-- <div class="col-md-offset-4 col-md-6">  -->
    <div class="col-md-offset-5 col-md-10"> 
      <button 
        appPcariauth
        [mustHavePermission]="[ 'biobank_case_create', 
        'biobank_case_update', 
        'medical_case_create', 
        'medical_case_update' ]" 
        [mustBeAll]="false"
        class="btn btn-warning"
        [disabled]="readonly || _case.id == null"
        (click)="show_selected_forms = false">
        <i class="fa fa-plus e2e-add-form"></i> Add Form
      </button>
    </div>
    </div>
      <app-pcaricase-form-add
      (onSaveFormAddTrigger)="onAddSelectedForm($event)"
      (onCancelFormAddTrigger)="onCancelAddForm()"
      [forms]="forms"
      [show]="!show_selected_forms && _case.id != null">
      </app-pcaricase-form-add>
    </div> <!-- x-panel -->
        </form>
      </div>

      
    </div> <!-- x panel -->     
  </div> <!--Case --> 


  <!-- end of SECTION PORTION -->
<!-- END OF REFACTOR -->