  <!-- Selected Forms  -->

<mat-accordion>
    <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Specimen Collection Form
          </mat-panel-title>
          <mat-panel-description>
            Mandatory
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let specimen of specimens; let i = index" 
          style="width: 100%;">
          <mat-form-field style="width: 18%">
            <input matInput placeholder="Qty">
          </mat-form-field>
      
          <mat-form-field style="width: 18%">
            <mat-select placeholder="Specimen">
              <mat-option *ngFor="let spec of specs" [value]="spec.value">
                  {{ spec.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
            <mat-select placeholder="Type">
                <mat-option *ngFor="let spectype of spectypes" [value]="spectype.value">
                  {{ spectype.viewValue }}
                </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
              <input matInput placeholder="Characteristic">
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
              <input matInput placeholder="Qty Available">
          </mat-form-field>
          <button class="btn btn-sm btn-danger" 
            style="width: 4%; margin-left: 1%;"
            (click)="onRemoveRow(i)">
              <i class="fa fa-trash"></i> 
          </button>
        </div>
        <div style="clear: both; padding-bottom: 30px;">
          <button class="btn btn-default pull-right"
            (click)="onAddRow()">
            Add Row
          </button>
        </div>
      </mat-expansion-panel>


  <mat-expansion-panel 
    *ngFor="let form of _forms; let i = index"
    (opened)="onRevealForm(form.id, form.form_id)"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <strong>{{ form.form_name }}</strong>
      </mat-panel-title>
      <mat-panel-description>
          {{ form.date_created | date :'medium' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="is_ok">
        <app-dynamic-form
          [method]="'UPDATE'"
          [answers]="answers"
          [caseid]="caseid"
          [casenumber]="casenumber"
          [dirpath]="dirpath"
          [formanswerid]="form_answer_id"
          [inquestionz]="caseform?.sections" 
          [insectionz]="caseform?.sections"
         >
      </app-dynamic-form>
    </div>

    <p *ngIf="!is_ok"> Please wait...</p>

  </mat-expansion-panel>
</mat-accordion>

<div class="col-md-offset-3 col-md-6"
style="margin-top: 15px;"
[hidden]="!_show"> 
  <button class="btn btn-default" style="width: 100%;"
      *ngIf="method == 'UPDATE' || method == 'CREATE'"
      (click)="onAddForm()">
      <i class="fa fa-plus e2e-add-form"></i> Add Form
  </button>
</div> <!--button group -->


  <div class="col-md-12 col-sm-12 col-xs-12"
    *ngIf="false"> 
      <div class="x_panel">
        <div class="x_title">
          <h2 class="pull-left">Case Forms</h2>
          <div class="pull-right">

            <button class="btn btn-info"
                *ngIf="method == 'UPDATE' || method == 'CREATE'"
                (click)="onAddForm()">
                <i class="fa fa-plus e2e-add-form"></i> Add Form
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">


          <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Form Name</th>
                  <th>Date Created</th>
                  <th>Status</th>
                  <th *ngIf="method != 'VIEW'">Approval</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let form of _forms; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ form.form_name }}</td>
                  <td>{{ form.date_created | date :'medium' }}</td>
                  <td>
                      <span *ngIf="!form.status" class="badge badge--failed" #pending>Pending</span>
                      <span *ngIf="form.status" class="badge badge--success" #approved>Approved</span>
                  </td>
                  <td *ngIf="method != 'VIEW'">
                    <mat-slide-toggle class="material-form-control col-md-offset-1 col-md-11 col-sm-12 col-xs-12"
                        [disabled]="method == 'VIEW'"
                        [(ngModel)]="form.status"
                        #input_form_status="ngModel" 
                        name="input_form_status">
                    </mat-slide-toggle>
                  </td>
                  <td style="text-align: right">
                    <button 
                      class="btn btn-sm btn-default"
                      [disabled]="!form.id"
                      [routerLink]="[view_url + caseid + '/forms', form.id]"
                      [queryParams]="{nbr: casenumber}" >
                      <i class="fa fa-eye"></i> View
                    </button>
                    <button 
                      class="e2e-update-case-form-{{i}} btn btn-sm btn-warning"
                      *ngIf="method == 'UPDATE'"
                      [disabled]="!form.id"
                      [routerLink]="[update_url + caseid + '/forms/', form.id]"
                      [queryParams]="{nbr: casenumber}">
                      <i class="fa fa-edit"></i> Update
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>

        </div> <!-- x_content -->
      </div>
</div> 

<!-- Selected Forms -->