  <!-- Selected Forms  -->
<div class="col-md-12 col-sm-12">
  <div class="col-md-offset-5 col-md-10" style="margin-top: 15px;" [hidden]="!_show"> 
    <button class="btn btn-warning" 
        *ngIf="method == 'UPDATE' || method == 'CREATE'"
        (click)="onAddForm()">
        <i class="fa fa-plus e2e-add-form"></i> Add New Form
    </button>
  </div> 
</div>
<br/>

<!-- Start of Select Existing Forms -->
<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="false"> 
  <div class="x_panel">
    <div class="x_title">
        <h2 class="pull-left">Case Forms</h2>
        <div class="pull-right">
          <button class="btn btn-success"
              *ngIf="method == 'UPDATE' || method == 'CREATE'"
              (click)="onAddForm()">
              <i class="fa fa-plus e2e-add-form"></i> Add New Form
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Form Name</th>
                <th>Date Created</th>
                <th>Status</th>
                <th *ngIf="method != 'VIEW'">Approval</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let form of _forms; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ form.form_name }}</td>
                <td>{{ form.date_created | date :'medium' }}</td>
                <td>
                    <span *ngIf="!form.status" class="badge badge--failed" #pending>Pending</span>
                    <span *ngIf="form.status" class="badge badge--success" #approved>Approved</span>
                </td>
                <td *ngIf="method != 'VIEW'">
                  <mat-slide-toggle class="material-form-control col-md-offset-1 col-md-11 col-sm-12 col-xs-12"
                      [disabled]="method == 'VIEW'"
                      [(ngModel)]="form.status"
                      #input_form_status="ngModel" 
                      name="input_form_status">
                  </mat-slide-toggle>
                </td>
                <td style="text-align: right">
                  <button 
                    class="btn btn-sm btn-default"
                    [disabled]="!form.id"
                    [routerLink]="[view_url + caseid + '/forms', form.id]"
                    [queryParams]="{nbr: casenumber}" >
                    <i class="fa fa-eye"></i> View
                  </button>
                  <button 
                    class="e2e-update-case-form-{{i}} btn btn-sm btn-warning"
                    *ngIf="method == 'UPDATE'"
                    [disabled]="!form.id"
                    [routerLink]="[update_url + caseid + '/forms/', form.id]"
                    [queryParams]="{nbr: casenumber}">
                    <i class="fa fa-edit"></i> Update
                  </button>
                </td>
              </tr>
            </tbody>
        </table>

      </div> <!-- x_content -->
  </div>
</div> 
<!-- /End of Select Existing Forms -->




<div id="modal_confirmation" class="modal fade confirm-modal-holder" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div>
        <h4 class="modal-header">Case Assistant</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
          <p>You have unsaved changes, do you want to save changes?</p>
        </div>
        <form style="text-align: right;">
          <button class="btn btn-text" 
          (click)="onCloseConfirmation()">
            No
          </button>
          <button class="btn btn-primary btn-customize-primary" 
            (click)="onConfirmSave()">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<mat-accordion>
      
  <!-- start of Biobank Form -->
    <mat-expansion-panel  *ngIf="isBiobank" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Specimen Collection Form : &nbsp; <em>Mandatory</em>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="text-align: center; margin-bottom: 10px;" class="row">
            <button class="btn btn-success pull-right"
              (click)="onSaveClick()">
              Save
            </button>
        </div>
        <div *ngFor="let specimen of specform; let i = index" 
          style="width: 100%;">
          <mat-form-field style="width: 18%">
            <input matInput placeholder="Qty" [(ngModel)]="specimen.qty">
          </mat-form-field>
      
          <mat-form-field style="width: 18%">
            <mat-select placeholder="Specimen" [(ngModel)]="specimen.spec">
              <mat-option *ngFor="let spec of specs" [value]="spec.value">
                  {{ spec.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
            <mat-select placeholder="Type" [(ngModel)]="specimen.spec_type">
                <mat-option *ngFor="let spectype of spectypes" [value]="spectype.value">
                  {{ spectype.viewValue }}
                </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
              <input matInput placeholder="Characteristic" [(ngModel)]="specimen.characteristic">
          </mat-form-field>
  
          <mat-form-field style="width: 18%">
              <input matInput placeholder="Qty Available" [(ngModel)]="specimen.qty_avail">
          </mat-form-field>
          <button class="btn btn-sm btn-danger" 
            style="width: 4%; margin-left: 1%;"
            (click)="onRemoveRow(i)">
              <i class="fa fa-trash"></i> 
          </button>
        </div>
        <div style="clear: both; padding-bottom: 30px;">
          <button class="btn btn-default pull-right"
            (click)="onAddRow()">
            Add Row
          </button>
        </div>
    </mat-expansion-panel>

  <!-- /end of Biobank Form -->
      
  <!-- start of Form Label -->


  


  <!--

  <mat-expansion-panel 
    *ngFor="let form of _forms; let i = index"
    [expanded]="openqueue.index === i"
    [disabled]="openqueue.index !== i">
    <h3>mat-expansion-panel</h3>
    <mat-expansion-panel-header 
    (click)="tryOpen(i, form.id, form.form_id)">
      <h3>mat-expansion-panel-header</h3>
      <mat-panel-title>
        <h3>mat-panel-title</h3>
          {{ form.form_name }} : &nbsp; <em>{{ form.date_created | date :'medium' }}</em>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="is_ok">
      <app-dynamic-form
        *ngIf="!isBiobank"
        [method]="method"
        [answers]="answers"
        [caseid]="caseid"
        [casenumber]="casenumber"
        [dirpath]="dirpath"
        [formanswerid]="form_answer_id"
        [inquestionz]="caseform?.sections" 
        [insectionz]="caseform?.sections"
        [initsave]="openqueue.saveindex === i"
        (onSuccessSubmit)="onSuccessSubmitEvent($event)" >
      </app-dynamic-form>

      <app-dynamic-table-form  
        *ngIf="isBiobank"
        [method]="'UPDATE'"
        [answers]="answers"
        [caseid]="caseid"
        [casenumber]="casenumber"
        [dirpath]="dirpath"
        [formanswerid]="form_answer_id"
        [inquestionz]="caseform?.sections" 
        [insectionz]="caseform?.sections">
      </app-dynamic-table-form>
    </div>

    <p *ngIf="!is_ok"> Please wait...</p>
  </mat-expansion-panel>
  -->
  <!-- /end of Form Label -->
</mat-accordion>

  <div class="col-md-12 col-sm-12" >
    <div class="col-md-3 col-sm-3" > 
      <mat-card *ngFor="let form of _forms; let i = index"
        (click)="tryOpen(i, form.id, form.form_id)">
          <span> {{ form.form_name }} </span>
          <br/>
          <span> {{ form.date_created | date :'medium' }}</span>
      </mat-card>
    </div>

    <div class="col-md-9 col-sm-9" > 
      <mat-card *ngIf="is_ok">
        <app-dynamic-form
          *ngIf="!isBiobank"
          [method]="method"
          [answers]="answers"
          [caseid]="caseid"
          [casenumber]="casenumber"
          [dirpath]="dirpath"
          [formanswerid]="form_answer_id"
          [inquestionz]="caseform?.sections" 
          [insectionz]="caseform?.sections"
          [initsave]="openqueue.saveindex === i"
          (onSuccessSubmit)="onSuccessSubmitEvent($event)" >
        </app-dynamic-form>
      </mat-card>
    </div>
  </div>